@import 'abstracts/variables',
'abstracts/functions',
'abstracts/mixins',
'abstracts/placeholders';
// @import 'admin';
// @import 'default';

/** BEGIN **/

input[type=number]::-webkit-inner-spin-button {
  margin: 0;
}

input[type=number]::-webkit-outer-spin-button {
  margin: 0;
}

ul {
  margin-left: 0;
  margin-bottom: 0;
}

ol {
  margin-left: 0;
  margin-bottom: 0;
}

dl {
  margin-left: 0;
  margin-bottom: 0;
}

a {
  color: color(oxfordBlue);
  &:focus {
    box-shadow: none;
  }
  &:hover {
    color: color(black);
  }
}

// GENERAL

#wpcontent,
#wpfooter {
  margin-left: 220px;
}

#wpwrap {
  background: color(concrete);
}

#wp-admin-bar-wp-logo {
  display: none;
}

#adminmenuback {
	width: 220px;
	background: color(charcoal);
}

#adminmenu {
  width: 210px;
	background: color(charcoal);  
}

#adminmenu .wp-submenu {
  width: 210px;
}

// Top Bar

#wpadminbar {
  border-bottom: 1px solid darken(color(concrete), 5%);  
  margin-left: 220px;
  max-width: calc(100% - 244px);
  background: color(concrete);  
  padding-left: 12px;
  padding-right: 12px;

  a, li {
    transition: .3s all;
  }

	li {
		a {
      background-color: color(concrete) !important;
      
      &.ab-item {
				color: color(charcoal) !important;
			}

			&:before {
				color: color(charcoal) !important;
			}

			&:focus span {
				color: color(adtrakOrange) !important;
			}

			span.ab-icon {
				color: color(charcoal) !important;

				&:before {
					color: color(charcoal) !important;
				}
			}
		}

		.ab-sub-wrapper {
      color: color(charcoal) !important;
      background-color: color(concrete) !important;
		}

		span {
			color: color(charcoal) !important;
		}

		&:hover > a {
			color: color(adtrakOrange) !important;
      background-color: color(concrete) !important;
      
      span,
      span:before,
      &:before {
				color: color(adtrakOrange) !important;
			}
		}
	}
}

// MENU

#adminmenuwrap {
	background: color(charcoal);

	ul#adminmenu {
    box-sizing: border-box;
    margin-left: 10px;
    
    li {
      background: transparent;
    }

    li {
      &.wp-has-current-submenu:hover,
      &.wp-has-current-submenu:hover a,
      &.wp-has-current-submenu {
        .wp-submenu,
        .wp-submenu:hover {
          background: transparent;
          padding-left: 25px;
          box-sizing: border-box;
        }
      }

      &.wp-not-current-submenu:hover ul.wp-submenu {
			  top: 0;
			  background: color(charcoal);
      }
    
      a {
        font-weight: normal;
  
        .wp-menu-image:before,
        .wp-menu-name {
          color: #999;
        }

        .wp-menu-name {
          word-break: break-word;					
        }
      }

      & a.wp-has-current-submenu,
      &.current.menu-top a {
        background: color(charcoal);
        .wp-menu-name,
        .wp-menu-image:before {
          color: color(white);
        }
      }

      &.wp-has-submenu ul.wp-submenu {
        li a {
          &.current,
          &:focus,
          &:hover {
            color: color(white);
          }
        }
      }

      &:hover .wp-menu-name,
      &:hover .wp-menu-image:before {
        color: color(white);
      }

      &.wp-not-current-submenu ul.wp-submenu {
        left: 36px;

        @media (min-width: 960px) {
          left: 210px;
        }

        a:focus,
        a:hover {
          cursor: pointer;
        }

        li:hover, 
        li:focus {
          opacity: 1;
  
          .wp-menu-image:before {
            transition: all 0s;
            color: color(adtrakOrange);
          }
        }
      }
      
    }
  }
}

#collapse-button:focus, #collapse-button:hover {
  color: color(adtrakOrange);
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    background-color: darken(color(charcoal), 5%);
}

#adminmenu {
  .awaiting-mod, .update-plugins {
    background-color: color(adtrakOrange);
  }
}

.autofold, .folded {
  li.wp-not-current-submenu ul.wp-submenu {
    left: 36px !important;
  }
  #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
    background: color(adtrakOrange);
    color: color(white);
  }
  #adminmenuwrap ul#adminmenu li {
    &.wp-has-current-submenu {
      .wp-submenu.wp-submenu-wrap {
        background: color(charcoal);
        padding-left: 0;
      }
    }
    & a.wp-has-current-submenu,
    &.current.menu-top a {
      background: color(adtrakOrange);
      .wp-menu-image:before,
      .wp-menu-name {
        color: color(white);
      }
    }
  }
  #adminmenuwrap ul#adminmenu {
    margin-left: 0; 
  } 

}